@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
     --pal1: #07293d;
     --pal2: #6c8085;
     --pal3:#f1baae;
     --pal4: #404a53;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./../Images/Login bg1.jpeg');
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    background-attachment:fixed;
    
}

#bodyCon{
    /* background-color:red; */
    width:100%;
     justify-content: center;
    align-items: center;
    height:70%;
    position:relative;
}

h2{
    color:var(--pal1);
    text-align:center;
    font-size:2rem;
    animation: floating 0.8s ease-in-out  infinite alternate;
}


#container{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self:center;
    justify-self:center;
    width:40%;
    height:60%;
    /* border:2px solid var(--pal1); */
    /* box-shadow: 0px 0px 15px 5px var(--pal1); */
    border-radius:10px;
    padding:10px;
    margin:10px 0px 0px 0px;;
    /* position:absolute; */
    /* top:60px; */
    /* animation: shadow 0.5s ease-in  infinite alternate ; */
}

@keyframes shadow{
    from{
         box-shadow: 0px 0px 15px 5px var(--pal1);
    }
    to{
         box-shadow: 0px 0px 15px 10px var(--pal1);
    }
}

form{
    display:flex;
    flex-flow:column wrap;
    justify-content:space-evenly;
    align-items:center;
    align-self:flex-start;
    height:100%;
    width:100%;
}

.formCon{
    border:3px solid transparent;
    background-color:#00000017;
    border-radius:50px;
    width:75%;
    padding:0px 10px;
    height:55px;
    position:relative;
    transition: all 0.5s ease;
}



input{
    margin:2px;
    border-radius:50px;
    border:3px solid transparent;
    background-color:transparent;
    color:white;
    padding:6px;
    height:50px;
    width:350px;
    outline:none;
}
    
#notFrom .formCon{
    background-color:transparent;
}



input::placeholder{
    color:#f5f5f5bf;
}


button{
    padding:3px;
    border-radius:6px;
    border:3px solid var(--pal3);
    width:350px;
    height:50px;
    border-radius:50px;
    background-color:var(--pal3);
    font-weight:600;
}

button:hover{
    cursor: pointer;
}

button:focus{
    background-color: var(--pal4);
    color:var(--pal3);
    border:var(--pal3)
}

#notFrom{
    /* background-color:red; */
    width:100%;
    display:flex;
    /* gap:40px; */
    justify-content:space-between;
}

#OAuth{
    display:flex;
    flex-flow:column wrap;
    justify-content:center;
    align-items:center;
    color:white;
    gap:4px;
    position:relative;
}

#OAuth p{
    position:relative;
    width:20%;
    text-align:center;
}

#OAuth p::before{
    content:" ";
    position:absolute;
    width:65px;
    height:2px;
    background-color:white;
    inset:10px auto auto 25px;
}

#OAuth p::after{
    content:" ";
    position:absolute;
    width:65px;
    height:2px;
    background-color:white;
    inset:10px 25px auto auto;
}

#google{
    position:relative;
    background-color:#f3f3f3;
    border: transparent;
    border-radius:10px;
}

img{
    width:30px;
    height:30px;
    margin:0px;
    position:absolute;
    inset: 8px auto auto 50px;
}

@keyframes shadowInput{
    from{
         box-shadow: 0px 0px 15px 2px var(--pal1);
    }
    to{
         box-shadow: 0px 0px 15px 7px var(--pal1);
    }
}

a{
    color:var(--pal3);
    color:white;
    text-decoration:none;
}

a:hover{
    text-decoration:underline;
}

#resMessage{
    color:whitesmoke;
    text-align: center;
    margin:20px;
    font-weight:600;
    animation: floating 0.8s ease-in-out  infinite alternate;

}

@keyframes floating{
    from{
        translate: 0px 0px;    
    }
    to{
       translate : 0px 10px 
    }
}


#passwordCon:focus-within, #form > .formCon:focus-within{
    border:3px solid var(--pal3);
    background-color:#00000040;
    box-shadow: 0px 0px 15px 5px var(--pal3);
}

