@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
     --pal1: #07293d;
     --pal2: #6c8085;
     --pal3:#f1baae;
     --pal4: #404a53;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: var(--pal4);
    background-image: linear-gradient(var(--pal1),var(--pal1)),url('./../Images/Poster bg.png');
    /* background-image:url('./../Images/Posters/poster9.jfif'); */
    background-blend-mode:soft-light;
    background-size:cover;
    height: 100vh;
}
/*Loader*/
#loader {
  display: inline-grid;
  width: 80px;
  aspect-ratio: 2;
  box-shadow: 0 5px #574951;
  overflow: hidden;
}
#loader:before,
#loader:after {
  content: "";
  grid-area: 1/1;
  margin: 0 25%;
  background: #E91E63;
  clip-path: polygon(97.55% 65.45%,50% 100%,2.45% 65.45%,20.61% 9.55%,79.39% 9.55%);
  transform-origin: bottom;
  animation: 
    l8-0 .5s linear infinite,
    l8-1  4s steps(8) infinite;
}
#loader:after {
  animation-direction: reverse;
  animation-delay: 0s, -1.5s;
}
@keyframes l8-0 {
  0%{rotate: -36deg}
  to{rotate:  36deg}
}
@keyframes l8-1 {
  0%{translate: -232% 0}
  to{translate:  232% 0}
}
/* Loader */

#header{
    /* background-color:green; */
    display:flex;
    padding:10px;
    margin: 0px 0px 15px;
    border-bottom: 1px solid white;
    position:relative;
}

#header #searchBar{
    width:300px;
    height:40px;
    border-radius:20px;
    padding:0px 10px;
    background-color:#ff000052;
    margin:0px 10px;
    color:#dbe5ff;
    outline:none;
    font-size:1rem;
}

#header #liveSearch{
    display:flex;
    justify-content:center;
    align-items:center;
    width:300px;
    position:absolute;
    min-height: 40px;
    height:max-content;
    /* background-color:var(--pal1); */
    border-radius:15px;
    inset: 50px auto auto 160px;
    z-index:1;
}

#liveSearch .liveSearchItem{
    width:100%;    
    padding:10px;
    position:relative;
    display:block;
    border-radius:6px;
    transition: all 0.3s ease;
    border: 1px solid black;
    overflow:hidden;
    color:var(--pal2);
    background-color:var(--pal1);
    /* padding-bottom:15px; */
}

#liveSearch .liveSearchItem:hover{
    border-radius:10px;
    background-color:var(--pal2);
    /* color:var(--pal1); */
}

#header .liveSearchItem .nameLS{
    height:max-content;
    /* color:white; */
    padding:10px;
    position:absolute;
    inset: 25px auto auto auto;
    align-self:center;
    font-size: 1.2rem;
    font-weight:600;
    color:var(--pal2);
    /* color:inherit; */
    margin-bottom:5px;
}

#header .liveSearchItem:hover .nameLS{
    color:var(--pal1);
    /* color:var(--pal2); */
    /* background-color:red; */
}


#liveSearch img{
    width: 50px;
    height:75px;
    border-radius:5px;
    /* margin:5px 0px; */
}



#header #resMessage{
    color:white;
    font-weight:600;
    text-align:center;
    width:35%;
    padding-top:5px;
    font-size:1.12rem;
    font-family: monospace;
    /* margin-top:10px; */
    /* background-color:red; */
    /* margin-left: 65px; */
    animation: floating 0.8s ease-in-out  infinite alternate;

}

@keyframes floating{
    from{
        translate: 0px 0px;    
    }
    to{
       translate : 0px 10px 
    }
}

#header #userinfo{
    justify-self:flex-end;
    align-self:center;
    position:absolute;
    inset: 10px 70px auto auto;
    background-color:var(--pal4);
    background-color:#ff000052;
    border-radius:20px;
    padding:7px;
    width:160px;
}

#header #userinfoCon{
    /* position:relative;*/
    display:flex;
    padding:0px 3px;
}

#header #userinfo img{
    border: 3px solid black;
    border-radius:50%;
    background-color:white;
    /* position:absolute; */
    
    /* height:50px */
}

#header #username{
    color:white;
    font-weight:600;
    /* align-items:center;
    justify-content:center; */
    align-self:center;
    justify-self:flex-end;
    text-align:right;
    width:100%;
}

#searchBar::placeholder{
    color:#ffffff8c;
}

#bodyCon{
    display: flex;
    /* background-color:#8f5959; */
    height:100%;
    padding:25px;
    gap:20px;
}

#categories{
    background-color: var(--pal1);
    /* position:absolute; */
    inset: 100px auto auto 50px;
    border-radius:5px;
    padding:0px;
    width:200px;
    height:221px;
    color:var(--pal2);
    transition: all 0.3s ease;
    overflow:hidden;
    font-size:1rem;
    margin:15px 0px;
}

#categories ul{
    list-style:none;
    transition: all 0.3s ease;
    font-size:1.4rem;
}

#categories li{
    border-bottom:2px solid black;
    /* border-top:2px solid black; */
    margin:0px 0px;
    padding: 10px;
    text-align:center;
    transition: all 0.3s ease;
    text-wrap:nowrap;
    cursor: pointer;
    /* font-size:1.2rem; */
}

#categories li:hover{
    background-color: #8ea8afbc;
    color:#0d527a92;
    border-radius:5px;
}

#dashboard{
    background-color: var(--pal1);
    /* position:absolute; */
    inset: 100px 50px auto auto;
    border-radius:5px;
    padding:0px;
    width:200px;
    height:221px;
    color:var(--pal2);
    /* color:white; */
    transition: all 0.3s ease;
    /* overflow:hidden; */
    font-size:1rem;
    z-index:3;
    
}

#dashboard ul{
    list-style:none;
     transition: all 0.3s ease;
    font-size:1.4rem;
}

#dashboard li{
    border-bottom:2px solid black;
    /* border-top:2px solid black; */
    margin:0px 0px;
    padding: 10px;
    text-align:center;
    
     transition: all 0.3s ease;
    text-wrap:nowrap;
    cursor: pointer;
    /* font-size:1.2rem; */
}

#dashboard li:hover{
    background-color:var(--pal2);
    color:var(--pal1);
    border-radius:5px;
}
#watchLater{
    position:relative;
}

#comingSoon{
    display:none;
    position: absolute;
    inset: -60px auto auto 170px;
    /* transform: translate(-50%,-50%); */
    background-color: var(--pal4);

    padding:20px;
    color:var(--pal2);
    width:max-content;
    height:max-content;
    border-radius:20px;
    transition: all 0.4s ease;
    z-index: 10;
    animation: floating 0.8s ease-in-out  infinite alternate,
                up 1.4s ease;
}



.sliderCon{
    margin:10px 5px;
    display: none;
}

.sliderCon#movies{
    background-color:#af676754;
    border-radius:20px;
    padding:5px
}

.sliderCon#series{
    background-color:#5a5ab770;
    border-radius:20px;
    padding:5px
}

.sliderCon#theaters{
    background-color:#03a9f44a;
    
    /* background-image:linear-gradient(#387c386b,#183418a3); */
    border-radius:20px;
    padding:5px
}

.sliderCon #sliderTitle{
    color:white;
    font-weight:700;
    font-size:1.5rem;
    border-bottom:3px solid white;
    margin:4px;
}


#sliders{
    background-color:var(--pal3);
    background-color:#0000005c;
    border-radius:20px;
    width:90%;
    flex-shrink: 2;
    padding:10px;
    overflow:scroll;
    display:flex;
    align-items:center;
    justify-content:center
    /* width:100% */
}

.slider{
    /* background-color:bisque; */
    overflow-x:scroll;
    display:flex;
    gap:40px;
}



.slider img{
    width:150px;
}
.slider .movie{
    position:relative; 
}
.slider .movie a{
    color:white;
    text-align:center;
    font-weight:600;
    text-decoration:none;
}

.slider .movie a:hover,
.slider .movie a:visited,
.slider .movie a:focus{
    text-decoration:underline;
}

.slider .movie #rating{
    position:absolute;
    inset:0px 0px auto auto;
}

.slider .movie #rating .starvalue{
    position:relative;
    
}

.slider .movie #rating img{
    width:40px;
    position:relative;
}

.slider .movie #rating #rateValue{
    position:absolute;
    inset: 10px 8px auto auto;
    font-size:0.9rem;
    color:black;
    min-width:21px;
    text-align:center;
}

.movie{
    transition: all 0.3s ease;
    margin:5px 1px;
    max-width:150px;
}

.movie:hover{
    transform: scale(1.05);
    /* transition: all 0.3s ease; */
    /* z-index: 6; */
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #0000005c;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #2a2a2ac9;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #868282;
}



